:root{
    --pixel-size:2px;
    --grid-cell:calc(var(--pixel-size)*16);
}
@media (min-width:700px) {
    :root{
        --pixel-size:3px;
    }
}
@media (min-width:900px) {
    :root{
        --pixel-size:4px;
    }
}
body{
    margin: 0;
    padding: 0;
}
.pixel-art{
    image-rendering: pixelated;
}
.camera{
    width: 100%;
    height: 652px;
    overflow: hidden;

    position: relative;
}
.map{
    image-rendering: pixelated;
    background-image: url(img/42410.jpg);
    background-size: contain;
    background-repeat: repeat-x;
   left: 0;
   width: 3900px;
    height:652px;
    position: relative;
}
.character{
   
    position: absolute;
    overflow: hidden;
   border: 1px solid red;  
   top: 440px;
}
.arrow{
    background-image: url(img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    position: absolute;
    border: 10px solid green;;
}
.mob{
    top: 440px;
    position: absolute;
    overflow: hidden;
   border: 9px solid red;  
   animation: mob 7s cubic-bezier(0.9, 0.1, 0.565, 1) infinite;
}
@keyframes mob{
    0%{
right: 1%;
    }
    50%{
        right: 50%;   
    }
    100%{
right: 100%;
    }
}