:root{
    --pixel-size:2px;
    --grid-cell:calc(var(--pixel-size)*16);
}
@media (min-width:700px) {
    :root{
        --pixel-size:3px;
    }
}
@media (min-width:900px) {
    :root{
        --pixel-size:4px;
    }
}

.pixel-art{
    image-rendering: pixelated;
}
.camera{
    width: 100%;
    height: 70%;
    overflow: hidden;

    position: relative;
}
.map{
    image-rendering: pixelated;
    background-image: url(img/42410.jpg);
    background-size: contain;
    background-repeat: repeat-x;
   left: 0;
   width: 3000px;
    height:70%;
    position: relative;
}
.character{
    /* width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;*/
    /* border: 1px solid red;  */
}
